entrada.json
{
  "name": "Webhook entrada",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "message-upsert",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -128,
        160
      ],
      "id": "968e53da-ba0b-48fc-b8c6-9c30ec5c0058",
      "webhookId": "87d02997-833c-4e57-8372-19445a7b5223"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.usuarioTestDev }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "acf59dd2-e1b6-493a-ae6b-265b654414de"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Test"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "da7db9a6-6de3-4bc1-8632-0d8a0036d3c8",
                    "leftValue": "={{ $json.usuarioTestDev }}",
                    "rightValue": "Dev",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Dev"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c996b9e2-8ef9-4254-9ac1-7b9946d031cb",
                    "leftValue": "={{ $json.usuarioTestDev }}",
                    "rightValue": "Prod",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Prod"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        288,
        144
      ],
      "id": "57bd90e5-9e7c-4626-847d-a2c81a99ba05",
      "name": "Switch",
      "notes": "por ahora test y dev quedan igual, pero en caso de necesitar separarlos a futuro, adecuar el nodo Code"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pJ7oKqdRagHlwtNQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/pJ7oKqdRagHlwtNQ",
          "cachedResultName": "[DEV]WF-B3-AgenteClasificador"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        576,
        160
      ],
      "id": "59bc4891-8f09-4bca-b3b4-7759445c8e7b",
      "name": "Call '[DEV]WF-B3-AgenteClasificador'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Cc8li2gbJf5rgGBR",
          "mode": "list",
          "cachedResultUrl": "/workflow/Cc8li2gbJf5rgGBR",
          "cachedResultName": "[PROD]WF-B3-AgenteClasificador"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        576,
        432
      ],
      "id": "a2ca8ae4-a996-431e-ae12-3d1de19cb734",
      "name": "Call '[DEV]WF-B3-AgenteClasificador'2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "x2AIS1bYSKIzKuTJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/x2AIS1bYSKIzKuTJ",
          "cachedResultName": "[TEST]WF-B3-AgenteClasificador"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        576,
        -128
      ],
      "id": "6dd65c42-e28b-4f08-aa55-24e4a2f31998",
      "name": "Call '[TEST]WF-B3-AgenteClasificador'"
    },
    {
      "parameters": {
        "content": "## Entrada de mensajes de wpp y switch según nro",
        "height": 832,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        -192
      ],
      "typeVersion": 1,
      "id": "1fe3990c-ac98-47ca-bf05-91ddc7e58ff6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node\n\n// Lista de números permitidos (ya con 549 como pediste)\nconst base = [\n  \"5492612494261\", // Juan Pablo\n  \"5492615726699\", // Daniela\n  \"5492615088239\", // Mateo\n  \"5492616803947\", // Gabriel\n  \"5492617174038\", // Nahuel\n  \"5492616363867\", // Lépez\n  \"5492612136449\", // Alejo\n  \"5492617000086\", // Emiliano\n  \"5492616085439\", // Carla\n  \"5492615396722\", // Marcos\n  \"5492613357803\", // Javi\n  \"5492612071861\", // Jean\n  \"5492612137081\", // Vanesa\n  \"5492604202881\", // Gabriel San Rafael\n  \"5492613365193\", // Yanko\n  \"5492615443901\", // Fede\n  \"2615088239\"     // test\n];\n\n// Número que llega (puede venir por dos rutas)\nconst from = $input.first().json.body?.body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.from ?? $input.first().json.body.body.entry[0].changes[0].value.message_echoes[0].from;\n\n// Booleano final\nconst usuarioTestDev = base.includes(from);\n\n// Salida\nreturn {\n  usuarioTestDev,\n  from,\n  all: $input.first()\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        160
      ],
      "id": "4ea4fd75-4261-48c4-a675-99d4aa5ba986",
      "name": "filtroNrosHabilitados"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "filtroNrosHabilitados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call '[TEST]WF-B3-AgenteClasificador'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call '[TEST]WF-B3-AgenteClasificador'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtroNrosHabilitados": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45c74963-c78f-44b4-bda1-46f167b00241",
  "meta": {
    "instanceId": "056e55fc9af2abd75cc7ad9fd6d21940852d41975ce0df2edfc054ca3990cdcb"
  },
  "id": "FBIcwO6B52FGLKPH",
  "tags": []
}
